$carousel-control-width: 15%;




.logo{
    
}

.nav-container{
    background: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
}

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-list{
    list-style-type: none;
    padding: 2px;
}

.icon {
    font-size: 50px;
    text-decoration: none;
    color: black
}

$carousel-control-width: 15%;